# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/DrivesBackupper/DrivesBackupper/Configuration.h
*.ipch
src/DrivesBackupper/.vs/DrivesBackupper/v15/ipch/AutoPCH/93fe432811c4255f/DRIVESMONITOR.ipch
src/DrivesBackupper/.vs/DrivesBackupper/v15/ipch/AutoPCH/3c6e704ed6a5619d/BACKUPPER.ipch
src/DrivesBackupper/.vs/DrivesBackupper/v15/ipch/AutoPCH/3c6e704ed6a5619d/BACKUPPER.ipch
src/DrivesBackupper/.vs/DrivesBackupper/v15/ipch/AutoPCH/93fe432811c4255f/DRIVESMONITOR.ipch
src/DrivesBackupper/.vs/DrivesBackupper/v15/ipch/AutoPCH/f40b819d21c2b87d/MAIN.ipch
